{% extends "base.html" %}

{% block content %}
	
	
	{{ super() }}
		
	{% for nav_item in nav %}
		{%  if nav_item.title in page.meta.display %}
			{% if nav_item.children %}
				<div class="index_header">
				<h6 id={{ nav_item.title }}>{{ nav_item.title }}</h6>
				</div>
				{% with nav_item_gf=nav_item.title %}
					{% include "partials/custom-nav-item.html" %}
				{% endwith %}
				{% with nav_item_first_parent=True %}
					{% include "partials/qmg-projects.html" %}
				{% endwith %}
			{% else %}
				<h6><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></h6>
			{% endif %}
		
		{% else %}
			{% if nav_item.children %}
				{% for nav_item_child in nav_item.children %}
						{% if nav_item_child.title in page.meta.display %}
							{% if not nav_item_child.children %}
								<h6 id={{ nav_item_child.title }}><a href="{{ nav_item_child.url }}">{{ nav_item_child.title }}</a></h6>
							{% else %}
								<div class="index_header">
									<h6 id={{ nav_item_child.title }}>{{ nav_item_child.title }}</h6>
								</div>
							{% endif %}
							{% with nav_item_gf=nav_item_child.title %}
								{# {% include "partials/qmg-projects.html" %} #}
								{% include "partials/custom-nav-item.html" %}
							{% endwith %}
						{% endif %}
				{% endfor %}
			{% endif %}
			
		{% endif %} 
	{% endfor %}
{% endblock %}
