/* custom css start */

.md-grid {
	max-width: 61rem;
	margin-right: auto;
	margin-left: auto
}

.md-content__inner {
	margin: 0 1rem 1.2rem;
}

.md-header {
	height: 2.4rem;
}

.md-header-nav__title {
	font-size: .7rem;
	text-transform: uppercase;
}

.md-typeset hr {
	margin: 1em 0;
	border-bottom: .05rem solid rgba(0, 0, 0, .26)
}

.md-typeset mark {
	background-color: rgba(255, 235, 59, .7);
	margin: 0 .5em;
}


.md-typeset table:not([class]) th {
	min-width: auto;
	padding: .3rem;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	vertical-align: top;
}

.md-typeset table:not([class]) td {
	min-width: auto;
	padding: .3rem;
	border-top: .05rem solid rgba(0, 0, 0, .07);
	vertical-align: top
}

.md-typeset table:not([class]) tr {
	transition: background-color .125s
}

.md-typeset table:not([class]) tr:hover {
	background-color: rgba(0, 0, 0, .1);
	box-shadow: inset 0 .05rem 0 #fff
}


.md-typeset h1 {
	color: inherit;
}

.md-typeset .emojione {
    width: 2rem;
    height: 2rem;
}

.md-typeset h3 > img.emojione {
    width: 1.3rem;
    height: 1.3rem;
}


div.highlight{
	border: 1px solid #e5e5e5;
}

#qmg_project_notes{
	margin-top: 0px;
	margin-bottom: 10px;
}

h6.home-list-items{
	margin: 0px 0px 0px 20px;
}

.list-emoji{
	margin-right: 10px;
}

hr.horizontal-rule{
	border: 0;
	height: 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.md-typeset{
	font-size: 0.7rem;
}

.md-main__inner {
	padding-top: .5rem;
}

.md-tabs__link--active{
	font-weight: bold;
}

.md-sidebar {
	width: 11.1rem;
	padding: 1.2rem 0 0;
}

.md-content{
	margin-left: 11.1rem;
}

.md-content__inner {
	margin: 0 0.2rem 1.2rem;
	padding-top: 0.6rem
}



.md-sidebar--secondary {
	padding-left: 1rem;
}

/* for flowchart js */
.pre {
    display:       block;
    unicode-bidi:  embed;
    font-family:   monospace;
    white-space:   pre;
}

div.md-sidebar.md-sidebar--secondary > div > div {
	border-left: 3px solid gray;
}

.md-search-result__item:hover > a:hover {
	background-color: rgba(0, 0, 0, .1);
}

div.md-content > article{
	margin-left: 0px;
}

.md-typeset .codehilite code,
.md-typeset .codehilite pre,
.md-typeset .highlight code,
.md-typeset .highlight pre {
	/* padding: 1rem 1rem 1rem 1rem; */
	border: 1px solid lightgray;
}

code {
	border: 1px solid lightgray;
}

div.index_header {
	border-bottom: 1px solid #EDEDED;
	width: 15rem;
	height: 1.5rem;
	margin-bottom: 0.5rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  color: white;
  margin-top: 10px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* custom css end */

.markdown-body .task-list-item {
  list-style-type: none !important;
}

.markdown-body .task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.markdown-body .task-list-control {
  display: inline; /* Ensure label is inline incase theme sets it to block.*/
}

.markdown-body .task-list-control {
  position: relative;
  display: inline-block;
  color: #555;
  cursor: pointer;
}

.markdown-body .task-list-control input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.markdown-body .task-list-indicator {
  position: absolute;
  top: -8px;
  left: -18px;
  display: block;
  width:  14px;
  height: 14px;
  color: #eee;
  background-color: #eee;
  border-radius: .25rem;
}

.markdown-body .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
  display: block;
  margin-top: -4px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 1;
  content: "✔";
  color: #1EBB52;
}

/* for mermaid*/
.node rect, .node circle, .node ellipse, .node polygon {
    fill: rgba(0,0,0,.07);
    stroke: rgb(76, 76, 76);
    stroke-width: 1px;
}

/* for mkdocs pdf export  */

@page {
    size: a4 portrait;
    margin: 10mm 10mm 10mm -30mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;
    /*@top-left {
        content: '© 2019';
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: 'Page ' counter(page);
    }*/
}